<tr>
  <td class="definition">
    <span class="content"><%= definition.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(definition.created_at) %> ago
    </span>
  </td>
</tr>
