<h1>About Us</h1>
<p>
  <%= link_to "SAT Words", root_path %>
  is a project to help high school students learn
  words appearing on the SAT by using definitions
  and examples that are meaningful to modern teenagers.
</p>
